
<ion-list m-5>
  <ion-item-sliding *ngFor="let list of wishesService.taskList | filterComplete: completeTask">

    <ion-item detail (click)="goToTaskList( list )">
      <ion-label>{{ list.title }}</ion-label>
      <ion-note slot="end">{{ list.items.length }} items</ion-note> 
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option (click)="listEdit( list )">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>


    <ion-item-options side="end">
      <ion-item-option (click)="delete( list )" color="danger">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
  
</ion-list>
