<ion-header >
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>    

    <ion-title>{{ list.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Escriba su nueva tarea</ion-label>
      <ion-input type="text" [(ngModel)]="nameItemList"
                             (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list position="center">
    
    <ion-list-header color="danger" >
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of list.items" class="animated fadeInDown">
      <ion-checkbox slot="start" [(ngModel)]="item.complete" (ionChange)="checkboxChange( item )"></ion-checkbox>
      <ion-label>{{ item.descrip }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
